*{
    position: relative;
    direction: rtl;
    font-family: 'almoni-dl', sans-serif;
}

.container{
    max-width: 1200px;
}


.header{
    position: relative;
    
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 125px;
    }
    &__logo{
        width: 105px;
        height: 80px;
    }

    &__menu{

    }
}

.menu-hdr{
    &__wrapper{
        display: flex;
        width: 650px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
        align-items:center;

        margin: 0;
        padding: 0;

        width: 100%;
    }
    &__item{
        font-weight: 400;
        font-size: 18px;
    }
}


