.form-main{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        top: -130px;
        margin: 0 auto;
        padding: 44px 170px 54px 170px;

        width: 1440px;
        height: 246px;
        background-color: $second-grey;
        border-radius: 20px;
        box-shadow: 0px 0px 52px 18px rgba(26, 18, 59, 0.12);


    &__block{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    }
 
    &__input{
        background-color: transparent;
        border: none;
        width: 290px;
        border-bottom: 2px solid #d1d0d8;
        margin: 0 16px;
        ::placeholder{
            font-size: 18px;
            font-weight: 400;
        }
    }
    &__btn{
        width: 160px;
        height: 46px;

        border-radius: 30px;
        border: none;
        background-color: $third-purp;

        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        &:hover{
            background-color: #31334D
            ;
        }
    }
}